
header{
	width:1280px;
	background-color: #ffffff;
	margin:0px auto;
	height:150px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
nav{
	width: 760px;
	margin-left:125px;
	
	}
	nav>a{
		margin-right: 20px;
		line-height: 50px;
		font-family: 'Arial Narrow';
		font-size: 12px;
		text-decoration: none;
		color: #7d8c9b;
	}
.logo{	
	width: 305px;
	height: 75px;
	margin-left: 85px;
	display: flex;
	align-items: center;
	}
	.logo-png{
		width: auto;
		height:60px;
		
	}
	.brand-name{
	
	width: 220px;
	height: 35px;	
	}
.nav-info{
	width:1280px;
	height: 70px;
	background-color:#f7f5e6;
	text-align: center;
	line-height: 70px;
}
.wrapper{
	width:1280px;
	margin:0px auto;
}
.card-group1{
	display:flex;
	height: 515px;
	align-content: stretch;
}
.card1{
	display:flex;
	flex-direction: column;
	background-image: URL("imgs/kid.png");
	background-repeat: no-repeat;
	background-size: cover;
	flex-wrap: wrap;
	width: 640px;
}
.card2{
	display:flex;
	flex-direction: column;
	background-image: URL("imgs/ball.png");
	background-repeat: no-repeat;
	background-size: cover;
	flex-wrap: wrap;
	width: 640px;
}
.blue-card{
	background-color: #058cff;
	border-radius: 5px;
	height: 31px;
	width: 152px;
	text-align: center;
	line-height: 30px;
	color: #fefefe;
	margin-top:55px;
	margin-left:80px;
	font-family: Consolas;
	font-size:14px;
	font-weight: bold;
	padding-left: 10px;
}
.lil-card{
	background-color: #db28b3;
	border-radius: 5px;
	height: 31px;
	width: 152px;
	text-align: center;
	line-height: 30px;
	color: #fefefe;
	margin-top:55px;
	margin-left:80px;
	font-family: Consolas;
	font-size:14px;
	font-weight: bold;
	padding-left: 10px;
}
.card-group2{
display:flex;
	height: 255px;
	align-content: stretch;	
}
.card3{
	display:flex;
	flex-direction: column;
	background-image: URL("imgs/swimmer.png");
	background-repeat: no-repeat;
	background-size: cover;
	flex-wrap: wrap;
	width: 640px;
}
.sea-card{
	background-color: #02828e;
	border-radius: 5px;
	height: 31px;
	width: 152px;
	text-align: center;
	line-height: 30px;
	color: #fefefe;
	margin-top:30px;
	margin-left:80px;
	font-family: Consolas;
	font-size:14px;
	font-weight: bold;
	padding-left: 10px;
}
.light-card{
	display:flex;
	flex-direction: column;
	background-image: URL("imgs/yoga.png");
	background-repeat: no-repeat;
	background-size: cover;
	flex-wrap: wrap;
	width: 640px;
}
.light{
	background-color: #ffffff;
	border-radius: 5px;
	height: 31px;
	width: 152px;
	text-align: center;
	line-height: 30px;
	color: #6a7580;
	margin-top:30px;
	margin-left:80px;
	font-family: Consolas;
	font-size:14px;
	font-weight: bold;
	padding-left: 10px;
}
.card-info3{
	font-family:'Arial Narrow';
	font-size: 12px;
	color:#fefefe;
	width: 230px;
	margin-left: 90px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.card-name3{
	font-family:'Arial Narrow Bold', arial;
	font-size: 40px;
	color:#fefefe;
	width: 335px;
	margin-left: 90px;
margin-top: 15px;}
.card-info4{
	font-family:'Arial Narrow';
	font-size: 12px;
	color:#6a7580;
	width: 230px;
	margin-left: 90px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.card-name4{
	font-family:'Arial Narrow Bold', arial;
	font-size: 40px;
	color:#6a7580;
	width: 335px;
	margin-left: 90px;
margin-top: 15px;}
.card-name{
	font-family:'Arial Narrow Bold', arial;
	font-size: 55px;
	color:#fefefe;
	width: 230px;
	margin-left: 90px;
	margin-top: 30px;
}
.card-info{
	font-family:'Arial Narrow';
	font-size: 12px;
	color:#fefefe;
	width: 230px;
	margin-left: 90px;
	margin-top: 30px;
	margin-bottom: 160px;
}
.buy{
	margin-top: 50px;
margin-right: 50px;
width: 140px;
height: 45px;
background-repeat: no-repeat;
background-size: cover;
background-image: URL("imgs/button.png");
padding-left: 30px;
padding-top: 15px;
font-family: Consolas;
font-size: 20px;
	color:#fefefe;
}
.price{
	margin-top: 330px;
	margin-right: 55px;
	background-color: #f5c600;
	border-radius: 3px;
	width: 105px;
	text-align: center;
	align-self: flex-end;
	font-family: 'Arial Narrow Bold';
	font-size: 20px;
}
.price3{
	margin-top: 110px;
	margin-right: 55px;
	background-color: #f5c600;
	border-radius: 3px;
	width: 105px;
	text-align: center;
	align-self: flex-end;
	font-family: 'Arial Narrow Bold';
	font-size: 20px;
}
.sea{
	background-image: URL("imgs/sea.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
	display: flex;
	
	}
.text{
	width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text>span{ width: 685px; text-align: center;}
	.info{
		margin-top:100px;
	font-family: 'Arial Narrow';
	font-size:30px;
	color: #f6fbfc;
	}
	.info1{
		font-family: 'Arial Narrow Bold';
	font-size:42px;
	color: #f6fbfc;
	margin-top: 30px;
	}
	.info2{
		margin-top: 30px;
		font-family: 'Arial Narrow';
	font-size:19px;
	color: #f6fbfc;
	}
	.read-more{
	margin-top: 30px;
		font-family: 'Arial Narrow Bold';
	font-size:21px;
	color: #f6fbfc;	
	background: rgba(36,182,217,1);
background: -moz-linear-gradient(top, rgba(36,182,217,1) 0%, rgba(18,124,177,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,182,217,1)), color-stop(100%, rgba(18,124,177,1)));
background: -webkit-linear-gradient(top, rgba(36,182,217,1) 0%, rgba(18,124,177,1) 100%);
background: -o-linear-gradient(top, rgba(36,182,217,1) 0%, rgba(18,124,177,1) 100%);
background: -ms-linear-gradient(top, rgba(36,182,217,1) 0%, rgba(18,124,177,1) 100%);
background: linear-gradient(to bottom, rgba(36,182,217,1) 0%, rgba(18,124,177,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24b6d9', endColorstr='#127cb1', GradientType=0 );
	border-radius: 5px;
	height: 50px;
	width: 190px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(27,96,127,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(27,96,127,1);
box-shadow: 0px 3px 5px 0px rgba(27,96,127,1);
border: none;
	}
	.elipses{
		display: flex;
		flex-direction: column;
		width: 40px;
		position: relative;
		
		margin-top: 145px;
	}
	.elipses> div{
		margin-bottom: 12px;
		height:20px;
		width: 20px;
		border-radius: 50%;
		background-color:#0682af;
		position: relative;
		border: 3px solid #c4e6f0;
	}
.filter{
	display: flex;
	margin-top: -45px;
	height: 145px;
	
	align-content: stretch:
}
.filter>img{
	height: 64px;
	margin-top: -35px;
	margin-left: 98px;
}
.rozklad{
	font-size:42px;
	font-family: 'Arial Narrow';
	color:#69757f;
	margin-left: 90px;
	margin-top: 60px;
}
select{
	width: 375px;
	height: 50px;
	border-radius: 5px;
	margin-left: 45px;
	margin-top: 60px;
	font-family: Consolas, Arial;
	color:#323b58;
	font-size: 24px;
	padding-left: 25px;
}
.t-swimm{
	width:360px;
	background-image: URL("imgs/swimmer.png");
	background-size: cover;
}
.t-yoga{
	width:360px;
	background-image: URL("imgs/yoga.png");
	background-size: cover;
}
.t-ball{
	width:360px;
	background-image: URL("imgs/ball.png");
	background-size: cover;
}
.t-kid{
	width:360px;
	background-image: URL("imgs/kid.png");
	background-size: cover;
}
.pool{
	font-family:'Arial Narrow', arial;
	font-size: 21px;
	color:#fefefe;
	width: 335px;
	margin-left: 90px;
margin-top: 10px;
margin-bottom: 10px;
	
}
table{
	width:1280px;
	margin: 0px;
}

.t-name{
	font-family:'Arial Narrow Bold', arial;
	font-size: 26px;
	color:#fefefe;
	width: 335px;
	margin-left: 90px;
margin-top: 10px;}
table span{
	background-color: #eeeeee;
	font-family:'Arial Narrow', Arial;
	font-size:18px;
	color:#6a7580;
	height: 60px;
	margin-bottom: 85px;
}